@charset "UTF-8";

body{
    color: white;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    color:black
}
h1{
    font-size: 20px;
}
p{
    font-size: 18px;
}
